@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  z-index: 10;

  @include mobile {
    height: 100%;
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 40vh;
    bottom: -10px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    z-index: -10;

    @include mobile {
      // display: none;
      bottom: 50px;
    }
  }
}

.wrapper {
  max-width: 1100px;
  height: 100%;
  margin: auto;

  .textContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    @include mobile {
      height: 60%;
      width: 100%;
      gap: 25px;
      align-items: center;
      justify-content: end;
      text-align: center;
      margin-top: 10em;
    }

    .mob-img {
      width: 50%;
      height: 36%;
      display: none;

      @include mobile {
        display: flex;
        object-fit: cover;
        border-radius: 100em;
      }
    }

    h2 {
      font-size: 21px;
      color: rebeccapurple;
      letter-spacing: 10px;

      @include mobile {
        font-size: 24px;
        letter-spacing: 8.5px;
      }
    }

    h1 {
      font-size: 65px;

      @include mobile {
        font-size: 58px;
      }
    }

    .buttons {
      button {
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin-right: 20px;
        cursor: pointer;
        font-weight: 700;
        transition: 0.5s;

        @include mobile {
          font-size: 16px;
          padding: 16px;
        }
      }
      .cont {
        background: white;
        color: black;
      }
    }
    .cont:hover {
      background: rebeccapurple;
      border: none;
      color: white;
    }
    .latest:hover {
      background: rebeccapurple;
      border: none;
      color: white;
    }

    img {
      width: 50px;
    }
  }
}

.imageContainer {
  width: 39.6%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  @include mobile {
    height: 65%;
    // height: 60%;
    width: 100%;
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: -41em;
    display: none;
  }

  img {
    width: 25em;

    @include mobile {
      width: 50%;
      height: 36%;
      object-fit: cover;
      border-radius: 100em;
    }
  }
}
